

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group-input>label {
  width: 150px;
  padding-bottom: 20px;
  display: inline-block;
  padding-left: 20px;
}
.baru {
  padding-left: 30px;
  display: inline-block;
}
.group-box>label {
  width: 120px;
  padding-bottom: 3px;
  display: inline-block;
  padding-left: 10px;
}
.group-box {
  display: inline-block;
  padding-left: 30px;
}
h1 {
  padding-top:15px;
  text-align: center;
}
.group-button {
  padding-left: 20px;
}

.button1 {
  background-color: white;
  
 margin-bottom:10px;
  border-style: solid;
  width:50px;
  height:30px;
  border-radius: 20px;

}

